<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" xlmns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Lista de Propiedades</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/formulario.css">
    </head>
  <body>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11" aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
                <a class="navbar-brand col-lg-3 me-0" th:href=@{/}><img src="/img/logo4.png" width="90" height="90" alt="alt"/>PropZona</a>
                <ul class="navbar-nav col-lg-6 justify-content-lg-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="true">Propiedades</a>
                        <ul class="dropdown-menu">
                            
                            <li><a class="dropdown-item" sec:authorize="hasRole('PROPIETARIO')" th:href=@{/propiedad/registrar}>Registrar Propiedad</a></li>
                            <li><a class="dropdown-item" th:href=@{/propiedad/listar}>Listar Propiedades</a></li>
                        </ul>
                    </li>

            </div>

        </div>
    </nav>

    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">

        <div class="container m-5 table-responsive">

            <table class="table table-dark table-striped table-hover table-bordered table-m">

                <thead>
                    <tr>
                        <th scope="col">ID de la Propiedad</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Localidad</th>
                        <th scope="col">Provincia</th>
                        <th scope="col">Precio Base</th>
                        <th scope="col">Wifi</th>
                        <th scope="col">Pileta</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col" sec:authorize="hasRole('PROPIETARIO')" >Acciones</th>
                    </tr>
                </thead>    
                <tbody th:each="propiedad : ${propiedades}">
                    <tr>
                    
                        <th scope="row" th:text="${propiedad.id}"></th>
                        <td th:text="${propiedad.direccion}"></td>
                        <td th:text="${propiedad.localidad}"></td>   
                        <td th:text="${propiedad.provincia}"></td>  
                        <td th:text="${propiedad.precio_base}"></td>
                        <td th:text="${propiedad.wifi}"></td>
                        <td th:text="${propiedad.pileta}"></td>
                        <td th:text="${propiedad.capacidad}"></td>
                        <td sec:authorize="hasRole('PROPIETARIO')">
                            <a  th:href=@{/propiedad/modificar/__${propiedad.id}__}><i class="fas fa-feather-alt"></i>Modificar</a>
                            <a  th:href=@{/propiedad/eliminar/__${propiedad.id}__}><i class="fas fa-feather-alt"></i>Eliminar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>


</html>
